.sidenav-container {
  background-color: #ffffff;
  height: 100%;
}

.sidenav {
  background-color: #191E29;
  width: 230px;
}

.mat-toolbar{
  color: #ffffff;
  background: #191E29;
}

.sidenav .mat-toolbar {
  background-color: #ebebeb;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo{
  width: 100%;
}
.logo-container{
  margin: 15% auto;
}

mat-nav-list button{
  color: #ffffff !important;
  width: 100%;
  justify-content: left;
  padding: 30px 0px 30px 20px;
}