<div class="row text-center center justify-content-center">
    <div class="col-6">
        <h2>Datos del Vehiculo</h2>
    <form class="row" [formGroup]="form">
        <h3>Gastos iniciales</h3>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>ID</mat-label>
            <input type="text" formControlName="id" matInput readonly="true">
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Marca</mat-label>
            <input type="text" formControlName="marca" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Modelo</mat-label>
            <input type="text" formControlName="modelo" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Año</mat-label>
            <input type="number" formControlName="anio" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Color</mat-label>
            <input type="text" formControlName="color" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Placa</mat-label>
            <input type="text" formControlName="placa" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Seleccione la moneda</mat-label>
            <mat-select disableRipple formControlName="moneda">
              <mat-option value="Dólares">Dólares</mat-option>
              <mat-option value="Soles">Soles</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Precio</mat-label>
            <input type="number" formControlName="precio" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Foto</mat-label>
            <input type="text" formControlName="foto" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Descuento</mat-label>
            <input type="number" formControlName="descuento" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12">
            <mat-label>Inicial</mat-label>
            <input type="number" formControlName="inicial" matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="addEditVehiculo()" [disabled]="form.invalid">{{action}}</button>
    </form>
    </div>
</div>