.row{
    margin: 20px ;
}

.azul{
    color: blue;
}

.rojo{
    color: red;
}



.table-container {
  max-height: 450px; /* Altura máxima de la tabla antes de que se desplace */
  overflow: auto; /* Agrega barras de desplazamiento si es necesario */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

thead {
  position: sticky;
  top: 0; /* Fija el encabezado en la parte superior */
  background-color: #f2f2f2;
  z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
}

.actions{
  margin-top: 10px;
}
.actions button{
  margin: 0 10px 0 10px;
}

.table-container{
  margin-top: 30px;
}

mat-card-title{
  color: #01C38D;
  font-weight: bold;
}

.card{
  border: #01C38D 2px solid;
  background: #696E79;
}
mat-card-subtitle{
  color: #fff;
}

.button {
  color: #fff;
  background-color: #01C38D;
}

.button-azul{
  background-color: #132d46;
  border: #01C38D 2px solid;
  color: #fff;
}

.disabled-button {
  color: #01C38D;
  border: 2px solid #01C38D;
}

.enabled-button {
  color: #fff;
  background-color: #01C38D;
}

th{
  background-color: #01C38D;
  color: #fff;
}

.verde{
  background-color: #107c41;
  color: #fff;
}