<div class="text-center">
    <h1 mat-dialog-title>¿Estás seguro de que quieres eliminar este elemento?</h1>
    <div mat-dialog-content>
        Si decides eliminarlo, será de forma permanente y no se guardará ninguna copia adicional.
    </div>
    <div mat-dialog-actions  class="justify-content-center">
        <button mat-raised-button mat-dialog-close cdkFocusInitial color="warn">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="true" class="verde">Eliminar</button>
    </div>
</div>