

<div class="row">
   <div class="col-12">
    <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h2 class="titulo">Bienvenido (a) {{nombre}}</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">FECHA AQUI </h5>
          <div class="card-text">
            <p>Si desea realizar una corrida, siga los siguienets pasos:</p>
            <ol>
                <li>Dirígase al botón “Realizar corrida”
                </li>
                <li>Ingrese el tipo de moneda (soles o dólares)
                </li>
                <li>Ingrese el valor 
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
          </div>
        </div>
    </div>
   </div>
   <div class="col-12">
    <h2>Testimonios</h2>
    <mat-tab-group>
      <mat-tab [label]="testimonio.nombre" *ngFor="let testimonio of testimonios; let i = index">
        <br>
        <div class="container">
          {{testimonio.comentario}}
        </div>
      </mat-tab>
      <mat-tab label="Agregar comentario">
        <div class="row text-center">
          <div class="col-6">
            <mat-form-field class="container">
              <mat-label>Comentario</mat-label>
              <textarea matInput [(ngModel)]="comentario" placeholder="Yo opino ..."></textarea>
            </mat-form-field>
          </div>
          <div class="col-6">
            <button (click)="addTestimonio()" style="width: 100%;" mat-raised-button color="primary">Primary</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
   </div>
</div>