<div class="container">
    <span class="datos">
        <h2 class="titulo">Bienvenido (a) NOMBRE PERSONA</h2>
        <p class="fecha">FECHA AQUI</p>
    </span>
    <p>Si desea realizar una corrida, siga los siguienets pasos:</p>
    <ol>
        <li>Dirígase al botón “Realizar corrida”
        </li>
        <li>Ingrese el tipo de moneda (soles o dólares)
        </li>
        <li>Ingrese el valor 
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</div>