table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
.actions{
    margin: 5px;
    background-color: #132d46;
  }
.row{
  margin: 25px ;
}
.comprar-row {
  background-color: #008000; /* Cambia el color de fondo a anaranjado */
}

.renovar-row {
  background-color:#ff8000; /* Cambia el color de fondo a azul */
}

.cancelar-row {
  background-color: #FF0000; /* Cambia el color de fondo a rojo */
}

.cliente-row {
  background-color: #0000ff; /* Cambia el color de fondo a verde */
}
.normal-row{
  background-color: #FFFF00;
}

.space{
  margin-top: 10px;
}

.badge{
  margin: 0 2px 0 2px;
}
