table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
.actions{
    margin: 5px;
    background-color: #132d46;
  }
.row{
  margin: 25px ;
}
.comprar-row {
  background-color: #2a8b8b; /* Cambia el color de fondo a anaranjado */
}

.renovar-row {
  background-color:#75c58e; /* Cambia el color de fondo a azul */
}

.cancelar-row {
  background-color: #bfff91; /* Cambia el color de fondo a rojo */
}

.cliente-row {
  background-color: #dfe9a8; /* Cambia el color de fondo a verde */
}
.normal-row{
  background-color: #ffd2bf;
}

.space{
  margin-top: 10px;
}

.badge{
  margin: 0 2px 0 2px;
}
