table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
.actions{
    margin: 5px;
}
.row{
  margin: 25px ;
}
.comprar-row {
  background-color: orange; /* Cambia el color de fondo a anaranjado */
}

.renovar-row {
  background-color: blue; /* Cambia el color de fondo a azul */
}

.cancelar-row {
  background-color: red; /* Cambia el color de fondo a rojo */
}

.cliente-row {
  background-color: green; /* Cambia el color de fondo a verde */
}