<div class="row justify-content-center">
    <div class="col-11">
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese el valor buscado" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de guardado </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="moneda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda </th>
                    <td mat-cell *matCellDef="let row"> {{row.moneda}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo del vehiculo </th>
                    <td mat-cell *matCellDef="let row"> S/{{row.precio}}</td>
                </ng-container>
                <!-- Fruit Column -->
                <ng-container matColumnDef="tasa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa efectiva </th>
                    <td mat-cell *matCellDef="let row"> {{round(row.tasa)}}% </td>
                </ng-container>
                <ng-container matColumnDef="frecPago">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Frecuencia </th>
                    <td mat-cell *matCellDef="let row"> {{row.frecPago}} </td>
                </ng-container>
                <ng-container matColumnDef="plazo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Plazo </th>
                    <td mat-cell *matCellDef="let row"> {{row.plazo}} años </td>
                </ng-container>
                <ng-container matColumnDef="COK">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COK </th>
                    <td mat-cell *matCellDef="let row"> {{row.COK}}% </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <div>
                            <button mat-mini-fab class="actions" routerLink="/show-run/{{row.id}}">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getRowClass(row.status)"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
    <div class="col-10 space text-center ">
        <span class="badge cliente-row text-dark">Cliente</span>
        <span class="badge renovar-row text-dark">Renovado</span>
        <span class="badge cancelar-row text-dark">Cancelado</span>
        <span class="badge normal-row text-dark">Simulación</span>
        <span class="badge comprar-row text-dark">Comprado </span>       
    </div>
</div>