.comprar {
    background-color: #2a8b8b; /* Cambia el color de fondo a anaranjado */
  }
  
  .renovar {
    background-color:#75c58e; /* Cambia el color de fondo a azul */
  }
  
  .cancelar {
    background-color: #bfff91; /* Cambia el color de fondo a rojo */
  }

  .azul{
    background-color: #132d46;
    color: #fff;
}