<div class="text-center">
    <h1 mat-dialog-title>¿Esta seguro que quieres eliminar el elemento?</h1>
    <div mat-dialog-content>
        Esperamos volver a verlo y ofrecerle el mejor servicio financiero. 
    </div>
    <div mat-dialog-actions  class="justify-content-center">
        <button mat-raised-button [mat-dialog-close]="0" color="warn">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="1" color="primary">Renovar</button>
        <button mat-raised-button [mat-dialog-close]="2" color="primary">Pagar</button>
        <button mat-raised-button [mat-dialog-close]="3" color="primary">Renunciar</button>
    </div>
</div>