.comprar {
  background-color: #008000; /* Cambia el color de fondo a anaranjado */
}

.renovar {
  background-color:#ff8000; /* Cambia el color de fondo a azul */
}

.cancelar {
  background-color: #FF0000; /* Cambia el color de fondo a rojo */
}


  .azul{
    background-color: #132d46;
    color: #fff;
}