
.row{
    margin: 25px;
}

.espacio{
    margin: 0 4px 0 4px;
}

mat-card{
    border: #01C38D 3px solid;
    background-color: #696E79;
    color: #fff;
}

.marco{
    border: #01C38D 3px solid;
}
mat-card-subtitle{
    color: #000;
}

.verde{
    color: #fff;
    background-color: #01C38D;
}
.azul{
    background-color: #132d46;
}

