
.row{
    margin: 25px;
}

.espacio{
    margin: 0 4px 0 4px;
}

mat-card{
    border: #01C38D 3px solid;
    background-color: #696E79;
    color: #fff;
}

.marco{
    border: #01C38D 3px solid;
}
mat-card-subtitle{
    color: #000;
}

.change{
    color: #fff;
    background-color: rgba(81, 81, 81, 0.3);
    height: 80px;
    margin: auto;
}
.azul{
    background-color: #132d46;
}
.space{
    margin-top: 20px;
}