<div class="row justify-content-center">

    <button  routerLink="/car/add" type="button" class="btn btn-primary">Agregar</button>

    <div class="col-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"
            (slid.bs.carousel)="changeSlide($event)">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let vehiculo of vehiculos; let first = first;"
                    [class.active]="first">
                    <img [src]="vehiculo.foto" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev change" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next change" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{car.modelo}} {{car.marca}}</mat-card-title>
                <mat-card-subtitle>Vehiculo de color {{car.color}} del año {{car.anio}}.</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
                <ul class="list-group list-group-flush marco">
                    <li class="list-group-item">Placa: {{car.placa}}</li>
                    <li class="list-group-item">Precio: {{car.precio}} {{car.moneda}}</li>
                    <li class="list-group-item">Descuento: {{car.descuento}}%</li>
                    <li class="list-group-item">Cuota inicial: {{car.inicial}}%</li>
                </ul>
            </mat-card-content>
            <mat-card-actions class="justify-content-center">
                <button  mat-fab class="espacio azul"routerLink="/car/edit/{{car.id}}">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-fab class="espacio" (click)="deleteVehiculo()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-fab class="verde espacio" color="warn" routerLink="/run/car/{{car.id}}">
                    <mat-icon>
                        shopping_cart
                    </mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>