.azul{
    background-color: #132d46;
    color: #fff;
}

.centrar{
    display: block;
}

.disabled-button {
    color: #132d46;
    border: 2px solid #132d46;
  }
  
  .enabled-button {
    color: #fff;
    background-color: #132d46;
  }