<div class="text-center">
    <h1 mat-dialog-title>¿Estás seguro de que desea continuar con la operación?</h1>
    <div mat-dialog-content>
        Si continúa con la operación, no podrá realizar cambios posteriores ni regresar a una versión anterior.
    </div>
    <div mat-dialog-actions class="justify-content-center">
        <button mat-raised-button mat-dialog-close cdkFocusInitial class="verde">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="true" class="azul">Confirmar</button>
    </div>
</div>
